* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background-color:#0f172a;
    color:white;
    font-weight:700;
    max-width:1200px;
    margin:0 auto;
}
.pro{
    text-align: center;
    padding:40px;
    font-size:3em;
    font-family: cinzel, serif;
    letter-spacing: 2px;
   
}
@media(max-width:780px){
    .pro{
        padding:0;
    }
}


